# IDE
.vscode/*
!.vscode/launch.json
.idea/
*.swp
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Builds
dist/
build/
.turbo/
coverage/

# Environment Variables
.env
.env.test
.env.production
# Keep example files
!.env.example

# OS Custom
Thumbs.db

# NestJS
*.js.map

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
